<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.sys.dao.RolePrivilegesDao">
    <cache type="com.yao.sys.config.MybatisRedisCache"/>
    <resultMap id="BaseResultMap" type="com.yao.bean.db.RolePrivilegesPojo">
        <id column="privilege_id" jdbcType="VARCHAR" property="privilegeId" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="last_mod_oper_id" jdbcType="VARCHAR" property="lastModOperId" />
        <result column="last_mod_oper_date" jdbcType="TIMESTAMP" property="lastModOperDate" />
        <result column="cre_oper_id" jdbcType="VARCHAR" property="creOperId" />
        <result column="cre_date" jdbcType="TIMESTAMP" property="creDate" />
    </resultMap>

    <sql id="where">
        <where>
            <if test="privilegeId != null">
                and t.privilege_id =  #{privilegeId,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null">
                and t.role_id =  #{roleId,jdbcType=VARCHAR}
            </if>
            <if test="inRoleId != null">
                and t.role_id in( ${inRoleId} )
            </if>
            <if test="state != null">
                and t.state =  #{state,jdbcType=VARCHAR}
            </if>
            <if test="lastModOperId != null">
                and t.last_mod_oper_id =  #{lastModOperId,jdbcType=VARCHAR}
            </if>
            <if test="lastModOperDate != null">
                and t.last_mod_oper_date =  #{lastModOperDate,jdbcType=TIMESTAMP}
            </if>
            <if test="creOperId != null">
                and t.cre_oper_id =  #{creOperId,jdbcType=VARCHAR}
            </if>
            <if test="creDate != null">
                and t.cre_date =  #{creDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <sql id="keyWhere">
        <where>
            <if test="privilegeId != null">
                and t.privilege_id =  #{privilegeId,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null">
                and t.role_id =  #{roleId,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="insertColumnsVal">
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="privilegeId != null">
                #{privilegeId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="lastModOperId != null">
                #{lastModOperId,jdbcType=VARCHAR},
            </if>
            <if test="lastModOperDate != null">
                #{lastModOperDate,jdbcType=TIMESTAMP},
            </if>
            <if test="creOperId != null">
                #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null">
                #{creDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </sql>

    <sql id="insertColumns">
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="privilegeId != null">
                privilege_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="lastModOperId != null">
                last_mod_oper_id,
            </if>
            <if test="lastModOperDate != null">
                last_mod_oper_date,
            </if>
            <if test="creOperId != null">
                cre_oper_id,
            </if>
            <if test="creDate != null">
                cre_date,
            </if>
        </trim>
    </sql>

    <sql id="updateColumnVal">
        <set>
            <if test="privilegeId != null">
                privilege_id =  #{privilegeId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id =  #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state =  #{state,jdbcType=VARCHAR},
            </if>
            <if test="lastModOperId != null">
                last_mod_oper_id =  #{lastModOperId,jdbcType=VARCHAR},
            </if>
            <if test="lastModOperDate != null">
                last_mod_oper_date =  #{lastModOperDate,jdbcType=TIMESTAMP},
            </if>
            <if test="creOperId != null">
                cre_oper_id =  #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null">
                cre_date =  #{creDate,jdbcType=TIMESTAMP},
            </if>
        </set>
    </sql>


    <insert id="insertRecord">
        INSERT INTO role_privileges <include refid="insertColumns" /> <include refid="insertColumnsVal" />
    </insert>

    <select id="getRecordByKey" resultMap="BaseResultMap" >
        SELECT * FROM role_privileges t <include refid="keyWhere" />
    </select>

    <select id="getRecordByWhere" resultMap="BaseResultMap" >
        SELECT * FROM role_privileges t <include refid="where" />
    </select>

    <select id="getRecordListByWhere" resultMap="BaseResultMap" >
        SELECT * FROM role_privileges t <include refid="where" />
    </select>

    <update id="updateRecordByKey">
        UPDATE role_privileges t <include refid="updateColumnVal" /> <include refid="keyWhere" />
    </update>

    <update id="deleteRecordByKey">
        DELETE FROM role_privileges t <include refid="keyWhere" />
    </update>
</mapper>